
    <div  class="left-menu">
        <!--<h3 style="text-align: center"  >图书类型</h3>-->
        <ul>
            <li ><a ui-sref="booklist({bookType:1})" ui-sref-active="active"  class="list-group-item item_list ">所有图书</a></li>
            <li ><a ui-sref="booklist({bookType:2})" ui-sref-active="active"   class="list-group-item item_list">计算机</a></li>
            <li ><a ui-sref="booklist({bookType:3})" ui-sref-active="active" class="list-group-item item_list">英语</a></li>
            <li ><a ui-sref="booklist({bookType:4})" ui-sref-active="active" class="list-group-item item_list">心理学</a></li>
            <li ><a ui-sref="booklist({bookType:5})" ui-sref-active="active" class="list-group-item item_list">故事大王</a></li>
            <li ><a ui-sref="booklist({bookType:6})" ui-sref-active="active" class="list-group-item item_list">文学</a></li>
            <li ><a ui-sref="booklist({bookType:7})" ui-sref-active="active" class="list-group-item item_list">地理</a></li>
            <li ><a ui-sref="booklist({bookType:8})" ui-sref-active="active" class="list-group-item item_list">物理</a></li>
        </ul>
    </div>
